



body{
	
	background-image: url(../img/imagen.png);
	background-repeat: no-repeat;
	background-size: cover;
	}

.inputTitulo,.inputCita,.inputMeme,.inputNota,.tituloText,.tituloCita{
	width:100%;
	margin-top: 2%;
}
.textareaTexto,.textCita,.textMeme,.textNota,.parrafoText,.parrafoCita{
	width:100%;
	margin-top: 1%;
}
.botonPublicar,.botonPublicarCita,.botonPublicarMeme,.botonPublicarNota,.botonPublicarCita{
	background-color: #56A540;
	padding: 8px 13px;
	border-radius:5px;
	border:none;
	border-bottom: 1px solid #088A08 ;
	color:white;
	font-weight :bold;
	font-size: 15px;
	margin-left: 3%;
}
.contenedorTexto,.contenedorCita,.contenedorMeme,.contenedorNota,.postText,.postCita{
 	border: 3px solid gray; 
 	margin: 2% ; 
 	width: 35%;
}
.botonEliminar,.botonEliminarCita,.botonEliminarMeme,.botonEliminarNota,.botonCambiarColor{
	background-color: #56A540;
	padding: 8px 13px;
	border-radius:5px;
	border:none;
	border-bottom: 1px solid #088A08 ;
	color:white;
	font-weight :bold;
	font-size: 15px;
	margin-left: 3%;

}
.box{
	word-wrap: break-word;
	margin-left: 7%;
}

.botonEliminarPost{
	background-color: red;
	padding: 5px 6px;
	border-radius:5px;
	border:none;
	border-bottom: 1px solid #088A08 ;
	color:white;
	font-weight :bold;
	font-size: 9px;
	margin-top: 1px;
}
.postTexto{

}
.tituloText,.tituloCita{
	color:#2E2E2E;
	font-weight :bold;
	font-family: monospace;

}
.parrafoText,.parrafoCita{
	color: #08298A;
	font-weight :bold;
	font-family: monospace;
	font-size: 25px;
}

.tittle{
	color:#01A9DB;
	font-weight :bold;
	font-family: monospace;
	margin-top: 2%;
	margin-left: 2%;
}

.inputCita{
margin-bottom: 8px;
}
.botonEliminarPost{
	margin-bottom: 1%;
}

img{
	margin-top: 4%;
	margin-left: 3%
	border: 1% solid red;
}